
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>確認画面</title>
</head>
<body>
	<div class="container">
      	<div class="row">
			<h1>確認画面</h1>

			<div class="cart_button">
				<%= link_to "ショッピングを続ける", products_path %>
			</div>
			<table class="table table-striped">
				<tr>
					<th></th>
					<th>商品名</th>
					<th>価格</th>
					<th>購入数</th>
					<th>合計</th>
				</tr>
				<% @cart_items.each do |cart_item| %>
					<tr>
						<td></td>
					    <td><%= cart_item.product.name %></td>
					    <td><%= cart_item.product.price %>円</td>
			    		<td><%= cart_item.quantity %></td>
					   	<td><%= (cart_item.product.price).to_i * cart_item.quantity %></td>
					</tr>
				<% end %>
			</table>
			<div class="sum_price">
				<% %>
				<h3>合計：<%= (@shopping_cart.sum_total_price).to_i %>円</h3>
			</div>
			
			<div class="address_lines">
				<h2>お届け先</h2>
				<table class="table table-striped">
					<tr>
						<th></th>
						<th>購入者</th>
						<th>郵便番号</th>
						<th>都道府県</th>
						<th>市町村</th>
						<th>以下住所</th>
						<th>宛先氏名</th>
					</tr>
					<tr>
						<td></td>
						<td><%= @address_line.user.name %></td>
					    <td><%= @address_line.postcode %></td>
					    <td><%= @address_line.prefecture_id%></td>
					    <td><%= @address_line.city %></td>
					    <td><%= @address_line.address %></td>
					    <td><%= @address_line.name %></td>
					</tr>
				</table>
			</div>
			<%= form_for(ShoppingBag.new, url: complete_path) do |f| %>
				<%= f.hidden_field :address_line_id, value: @address_line_id %>
				<button><%= f.submit "購入する" %></button>
			<% end %>
		</div>
	</div>
</body>
</html>
