<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="skippr.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="body">
		<div class="profile container">
			<div class="row">
				<div class=profile-box>
					<h1>マイページ</h1>
					<div class="col-xs-3">
						<%= link_to "topページへ戻る", root_path %>
						<div class="image">
							<%= image_tag current_creator.avatar.to_s, :size => "255x255" %>
						</div>
					</div>
					<div class="col-xs-9">
						<ul class="list-group">
							<li class="list-group-item list-group-item-info" style="text-align: center"><strong>クリエイタープロフィール</strong></li>
							<li class="list-group-item"><strong>ユーザーネーム</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @creator.name %></li>
							<li class="list-group-item"><strong>電話番号</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @creator.telephone %></li>
							<li class="list-group-item"><strong>SHOP名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @creator.shop_name %></li>
							<li class="list-group-item"><strong>SHOP説明</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @creator.description %></li>
							<li class="list-group-item"><strong>発送日数</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @creator.send_date_id %>日以内に発送</li>
						</ul>
						<div>
							<%=link_to "売上の振込先設定はこちら", bank_accounts_path(current_creator)  %>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="main clearfix">
        		        <h3><%= @creator.name %>の商品一覧</h3>
                        <div class="main-content">
                            <% if@products.present? %>
                                <% @products.each_with_index do |product| %>
                                <div class="product-box">
                                    <% if product.product_images.present? %>
                                        <%= link_to product_path(product.id) do %>
                                            <%= image_tag product.product_images[0].avatar.to_s, :size => "255x255" %>
                                        <%end%>
                                    <% else %>
                                        <%= link_to product_path(product.id) do %>
                                            <img src="images/no_image.jpg", width="255", height="255">
                                        <%end%>
                                    <% end %>
                                    <p><%= product.category_id %></p>
                                    <p>商品名：<%= product.name %></p>
                                    <p>クリエイター名：<%= product.creator.name %></p>
                                    <p>¥<%= product.price %></p>
                                </div>
                                <% end %>
                            <% end %>
                        </div>
	        		</div>
	        	</div>
			</div>
		</div>
	</div>
	<script src="jquery-3.2.1.min.js"></script>
	<script src="skippr.min.js"></script>
	<script src="script.js"></script>
</html>
<style>
h1 {
position: relative;
padding-left: 25px;
}

h1:before {
position: absolute;
content: '';
bottom: -3px;
left: 0;
width: 0;
height: 0;
border: none;
border-left: solid 15px transparent;
border-bottom: solid 15px rgb(119, 195, 223);
}
h1:after {
position: absolute;
content: '';
bottom: -3px;
left: 10px;
width: 100%;
border-bottom: solid 3px rgb(119, 195, 223);
}

</style>