<!DOCTYPE html>
<html>
    <head>
    	<meta charset="UTF-8">
    	<link rel="stylesheet" href="skippr.scss">
        <link rel="stylesheet" href="style.scss">
        <title></title>
    </head>
    <body>
        <div class="header">
        <%= render partial: 'products/header' %>
        </div>
        <div class="tabs">
            <ul class="tabnav">
                <li><a href="#tab01">商品一覧</a></li>
                <li><a href="#tab02">クリエイター情報</a></li>
            </ul>
            <div class="tabcontent">
                <div id="tab01">
            		<div class="main clearfix">
            		    <div class="main-content">
            		        <h3><%= @creator.name %>の商品一覧</h3>
                            <% if@products.present? %>
                                <% @products.each_with_index do |product| %>
                                <div class="product-box">
                                    <% if product.product_images.present? %>
                                        <%= link_to product_path(product.id) do %>
                                            <%= image_tag product.product_images[0].avatar.to_s, :size => "255x255" %>
                                        <%end%>
                                    <% else %>
                                        <%= link_to product_path(product.id) do %>
                                            <img src="images/no_image.jpg", width="255", height="255">
                                        <%end%>
                                    <% end %>
                                    <p><%= product.category_id %></p>
                                    <p>商品名：<%= product.name %></p>
                                    <p>クリエイター名：<%= product.creator.name %></p>
                                    <p>¥<%= product.price %></p>
                                </div>
                                <% end %>
                            <% end %>
            		    </div>
            		</div>
                </div>
                <div id="tab02">
                    <% @posts.each do |post| %>
                        <div class="tweet-box">
                            <%= attachment_image_tag post, :image, :fill, 255, 255, format: 'jpeg' %></br>
                            <%= post.body %></br>
                            <%= post.creator.name %></br>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
 		<%= render partial: 'products/footer' %>
        <script src="javascript/js/jquery-3.3.1.min.js"></script>
        <script src="javascript/js/skippr.min.js"></script>
        <script src="javascript/js/script.js"></script>
        <script type="text/javascript">
            $(function(){
                $('.tabcontent > div').hide();

                $('.tabnav a').click(function () {
                    $('.tabcontent > div').hide().filter(this.hash).fadeIn();

                    $('.tabnav a').removeClass('active');
                    $(this).addClass('active');

                    return false;
                }).filter(':eq(0)').click();
            });
        </script>
    </body>
</html>
<style>
*タブメニューここから*/
.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #405dca;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    width: calc(99.3% / 2);
    margin-top: 50px;
    text-align: center;
}
.tabnav li a:hover,
.tabnav li a.active{
    background: #ddd;
    color: #333;
}
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}
#tab02{
  text-align: center;
}
.tweet-box{
  padding:20px;
}
</style>




