<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>売上振込先の編集</h1>
	<%= form_for (@bank_account) do |ba| %>
	    <div class="field">
	      <%= ba.label :金融コード %><br />
	      〒<%= ba.number_field :bank_code %>
	    </div>
	    <div class="field">
	      <%= ba.label :金融機関名 %><br />
	      <%= ba.text_field :bank_name %>
	    </div>
	    <div class="field">
	      <%= ba.label :支店コード %><br />
	      <%= ba.number_field :branch_code_id %>
	    </div>
	    <div class="field">
	      <%= ba.label :預金種別 %><br />
	      <%= ba.select :deposit_type_id, BankAccount.deposit_type_ids.keys, {prompt: '選択してください'} %>
	    </div>
	    <div class="field">
	      <%= ba.label :口座番号 %><br />
	      <%= ba.number_field :number %>
	    </div>
	    <div class="field">
	      <%= ba.label :講座名義カナ %><br />
	      <%= ba.text_field :name %>
	    </div>
	    <%= ba.submit "変更を保存", class:"btn" %>
	<%end%>
</body>
</html>

