<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>住所編集</h1>
	<%= form_for (@address_line) do |al| %>
	    <div class="field">
	      <%= al.label :郵便番号 %><br />
	      〒<%= al.text_field :postcode %>
	    </div>
	    <div class="field">
	      <%= al.label :都道府県 %><br />
	      <%= al.select :prefecture_id, AddressLine.prefecture_ids.keys, {prompt: '選択してください'} %>
	    </div>
	    <div class="field">
	      <%= al.label :市町村 %><br />
	      <%= al.text_field :city %>
	    </div>
	    <div class="field">
	      <%= al.label :住所 %><br />
	      <%= al.text_field :address %>
	    </div>
	    <div class="field">
	      <%= al.label :宛先氏名 %><br />
	      <%= al.text_field :name %>
	    </div>
	    <%= al.submit "変更を保存", class:"btn" %>
	<%end%>
</body>
</html>
